In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('twitter.csv')

In [3]:
df_1.head()

,id_str,created_at,crawled_at,screen_name,full_text,full_tweet
0,1113812743138697216,2019-04-04 21:37:06,2020-02-08 12:30:13,vtvindonesia,Pelajar SMP Tewas Kecelakaan di Jalinsum Banda...,"{""created_at"": ""Thu Apr 04 14:37:06 +0000 2019..."
1,1113813804708548608,2019-04-04 21:41:19,2020-02-08 12:30:13,briand_fergie,Orang-orang pulang nonton film ini langsung ga...,"{""created_at"": ""Thu Apr 04 14:41:19 +0000 2019..."
2,1113823718956908545,2019-04-04 22:20:43,2020-02-08 12:30:13,dimanamacetid,[22:14] #JAKARTA #KECELAKAAN Rawamangun #TMC,"{""created_at"": ""Thu Apr 04 15:20:43 +0000 2019..."
3,1113846220986900480,2019-04-04 23:50:08,2020-02-08 12:30:14,imaamhanavi,[83:1] Kecelakaan besarlah bagi orang-orang ya...,"{""created_at"": ""Thu Apr 04 16:50:08 +0000 2019..."
4,1113847850801090560,2019-04-04 23:56:36,2020-02-08 12:30:14,mdntkptr,"Anggapannya kayak mobil vs motor kecelakaan, y...","{""created_at"": ""Thu Apr 04 16:56:36 +0000 2019..."

In [7]:
df_2 = pd.read_csv('twitter_label_auto.csv')

In [8]:
df_2

,id_str,full_text,processed_text,vectorized_text,predicted_text
0,1113812743138697216,Pelajar SMP Tewas Kecelakaan di Jalinsum Banda...,"['pelajar', 'smp', 'tewas', 'kecelakaan', 'jal...",[ 2.68500000e-02 2.57666651e-02 5.06666675e-...,1
1,1113813804708548608,Orang-orang pulang nonton film ini langsung ga...,"['orangorang', 'pulang', 'nonton', 'film', 'la...",[ 1.01833353e-02 -3.27555574e-02 2.66499985e-...,0
2,1113823718956908545,[22:14] #JAKARTA #KECELAKAAN Rawamangun #TMC,"['jakarta', 'kecelakaan', 'rawamangun', 'tmc']",[ 1.11499997e-02 6.42499980e-03 2.19000019e-...,1
3,1113846220986900480,[83:1] Kecelakaan besarlah bagi orang-orang ya...,"['kecelakaan', 'besarlah', 'orangorang', 'cura...",[ 2.54749991e-02 2.34249998e-02 1.74999237e-...,0
4,1113847850801090560,"Anggapannya kayak mobil vs motor kecelakaan, y...","['anggapannya', 'kayak', 'mobil', 'vs', 'motor...",[ 6.11000061e-02 -4.46689650e-02 -2.53620706e-...,0
...,...,...,...,...,...
156302,1247422544639979520,"HBD 37 Ribéry\n\n""Menjadi anak-anak dengan cod...","['hbd', 'ribrymenjadi', 'anakanak', 'codet', '...",[ 0.00101765 -0.03004706 0.00515882 0.033605...,0
156303,1247423145356623873,Karena setiap makhluk membawa barokahnya masin...,"['makhluk', 'membawa', 'barokahnya', 'terkecua...",[ 9.14374925e-03 -5.61500043e-02 -1.23124965e-...,0
156304,1247427950405795840,btem baru juga dibenerin eh kudu masuk bengkel...,"['btem', 'dibenerin', 'eh', 'kudu', 'masuk', '...",[-1.22333346e-02 4.84333299e-02 4.07833308e-...,0
156305,1247428065526837254,"Mas abis kecelakaan ya? | Ngga, kok mba ngomon...","['mas', 'abis', 'kecelakaan', 'ngga', 'mba', '...",[ 2.33124997e-02 -4.98375036e-02 7.00625032e-...,0
156306,1247429933271375876,TANGGUNG JAWAB KAU GYU!!! \nWonu jd kecelakaan...,"['tanggung', 'kau', 'gyu', 'wonu', 'jd', 'kece...",[ 0.038325 -0.0466125 -0.0133375 0.048487...,0

In [9]:
date_list = df_1['created_at'].to_list()

In [10]:
twit_list = df_1['full_text'].to_list()

In [13]:
df_2_date_list = []
for index, row in df_2.iterrows():
    idx = twit_list.index(row['full_text'])
    df_2_date_list.append(date_list[idx])