In [3]:
import pandas as pd

In [4]:
df_1 = pd.read_csv('twitter.csv')

In [5]:
df_1.tail()

,id_str,created_at,crawled_at,screen_name,full_text,full_tweet
157624,1247456050057367553,2020-04-07 16:27:53,2020-04-07 16:30:09,Rezkydwianti27,"Ya Allah kaget, kebiasaan nih mama banguninnya...","{""created_at"": ""Tue Apr 07 09:27:53 +0000 2020..."
157625,1247461248800706564,2020-04-07 16:48:33,2020-04-07 17:00:09,suarajawatimur,https://t.co/s9JBaGopSb,"{""created_at"": ""Tue Apr 07 09:48:33 +0000 2020..."
157626,1247461274939576326,2020-04-07 16:48:39,2020-04-07 17:00:09,GhaneshRM,dari lahir sampai sekarang omongan anak sndiri...,"{""created_at"": ""Tue Apr 07 09:48:39 +0000 2020..."
157627,1247461772891549696,2020-04-07 16:50:38,2020-04-07 17:00:09,rightafterre,When the wheather is fine tuh keliatannya aja ...,"{""created_at"": ""Tue Apr 07 09:50:38 +0000 2020..."
157628,1247463208262045696,2020-04-07 16:56:20,2020-04-07 17:00:09,siskamawardi,Apakah nikah muda adalah aib keluarga?\nApakah...,"{""created_at"": ""Tue Apr 07 09:56:20 +0000 2020..."

In [6]:
df_2 = pd.read_csv('twitter_label_auto.csv')

In [8]:
df_2.tail()

,id_str,full_text,processed_text,vectorized_text,predicted_text
156302,1247422544639979520,"HBD 37 Ribéry\n\n""Menjadi anak-anak dengan cod...","['hbd', 'ribrymenjadi', 'anakanak', 'codet', '...",[ 0.00101765 -0.03004706 0.00515882 0.033605...,0
156303,1247423145356623873,Karena setiap makhluk membawa barokahnya masin...,"['makhluk', 'membawa', 'barokahnya', 'terkecua...",[ 9.14374925e-03 -5.61500043e-02 -1.23124965e-...,0
156304,1247427950405795840,btem baru juga dibenerin eh kudu masuk bengkel...,"['btem', 'dibenerin', 'eh', 'kudu', 'masuk', '...",[-1.22333346e-02 4.84333299e-02 4.07833308e-...,0
156305,1247428065526837254,"Mas abis kecelakaan ya? | Ngga, kok mba ngomon...","['mas', 'abis', 'kecelakaan', 'ngga', 'mba', '...",[ 2.33124997e-02 -4.98375036e-02 7.00625032e-...,0
156306,1247429933271375876,TANGGUNG JAWAB KAU GYU!!! \nWonu jd kecelakaan...,"['tanggung', 'kau', 'gyu', 'wonu', 'jd', 'kece...",[ 0.038325 -0.0466125 -0.0133375 0.048487...,0

In [9]:
date_list = df_1['created_at'].to_list()

In [10]:
twit_list = df_1['full_text'].to_list()

In [13]:
df_2_date_list = []
for index, row in df_2.iterrows():
    idx = twit_list.index(row['full_text'])
    df_2_date_list.append(date_list[idx])

NameError: name 'df_2_date_list' is not defined