In [1]:
import pandas as pd

In [3]:
dfL = pd.read_csv('twitter_label_auto.csv')

In [11]:
df = pd.read_csv('twitterKecelakaan.csv')
df

,id_str,created_at,crawled_at,screen_name,full_text,full_tweet
0,1113812743138697216,2019-04-04 21:37:06,2020-02-08 12:30:13,vtvindonesia,Pelajar SMP Tewas Kecelakaan di Jalinsum Banda...,"{""created_at"": ""Thu Apr 04 14:37:06 +0000 2019..."
1,1113813804708548608,2019-04-04 21:41:19,2020-02-08 12:30:13,briand_fergie,Orang-orang pulang nonton film ini langsung ga...,"{""created_at"": ""Thu Apr 04 14:41:19 +0000 2019..."
2,1113823718956908545,2019-04-04 22:20:43,2020-02-08 12:30:13,dimanamacetid,[22:14] #JAKARTA #KECELAKAAN Rawamangun #TMC,"{""created_at"": ""Thu Apr 04 15:20:43 +0000 2019..."
3,1113846220986900480,2019-04-04 23:50:08,2020-02-08 12:30:14,imaamhanavi,[83:1] Kecelakaan besarlah bagi orang-orang ya...,"{""created_at"": ""Thu Apr 04 16:50:08 +0000 2019..."
4,1113847850801090560,2019-04-04 23:56:36,2020-02-08 12:30:14,mdntkptr,"Anggapannya kayak mobil vs motor kecelakaan, y...","{""created_at"": ""Thu Apr 04 16:56:36 +0000 2019..."
...,...,...,...,...,...,...
157624,1247456050057367553,2020-04-07 16:27:53,2020-04-07 16:30:09,Rezkydwianti27,"Ya Allah kaget, kebiasaan nih mama banguninnya...","{""created_at"": ""Tue Apr 07 09:27:53 +0000 2020..."
157625,1247461248800706564,2020-04-07 16:48:33,2020-04-07 17:00:09,suarajawatimur,https://t.co/s9JBaGopSb,"{""created_at"": ""Tue Apr 07 09:48:33 +0000 2020..."
157626,1247461274939576326,2020-04-07 16:48:39,2020-04-07 17:00:09,GhaneshRM,dari lahir sampai sekarang omongan anak sndiri...,"{""created_at"": ""Tue Apr 07 09:48:39 +0000 2020..."
157627,1247461772891549696,2020-04-07 16:50:38,2020-04-07 17:00:09,rightafterre,When the wheather is fine tuh keliatannya aja ...,"{""created_at"": ""Tue Apr 07 09:50:38 +0000 2020..."
157628,1247463208262045696,2020-04-07 16:56:20,2020-04-07 17:00:09,siskamawardi,Apakah nikah muda adalah aib keluarga?\nApakah...,"{""created_at"": ""Tue Apr 07 09:56:20 +0000 2020..."

In [7]:
label_text = dfL['full_text'].to_list()
ori_text = df['full_text'].to_list()

In [9]:
label_date = []

In [13]:
label_text = dfL['full_text'].to_list()
label_date = []
for text in label_text:
    for index, row in df.iterrows():
        if row['full_text']==text:
            label_date=row['created_at']
        iter += 1
    if iter>5:
        break
print(label_date)

TypeError: '>' not supported between instances of 'builtin_function_or_method' and 'int'

In [12]:
for text in label_text:
    for index, row in df.iterrows():
        if row['full_text']==text:
            label_date=row['created_at']
label_date

KeyboardInterrupt: